*
  box-sizing border-box

html
body
#root
  margin 0
  padding 0
  height 100%

textarea
  padding 8px
  outline none
  border none
  resize none
  background whitesmoke

.fit-parent
  min-width 100%
  min-height 100%
  width auto
  height auto

.bg-color-primary
  background-color #78909c
